{% extends "base.html.twig" %}

{% block title %}AppBundle:Author:index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset( 'assets/plugins/datatable/css/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/datatable/css/dataTables.bootstrap4.min.css') }}">

{% endblock %}

{% block body %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Clicke Me
    </button>

    {# <table id="myTable" class="table" border="1">
         <thead>
         <tr>
             <th>#</th>
             <th>Name</th>
             <th>Laste</th>
             <th>age</th>
             <th>job</th>
             <th>adresse</th>
             <th>tel</th>
             <th>sexe</th>
             <th>...</th>

         </tr>
         </thead>
         <tbody>
         {% for author in authorview %}
             <tr>
                 <td>{{ author.id }}</td>
                 <td>{{ author.FirstName }}</td>
                 <td>{{ author.LastName }}</td>
                 <td>{{ author.Age }}</td>
                 <td>{{ author.Job }}</td>
                 <td>{{ author.Adresse }}</td>
                 <td>{{ author.Tel }}</td>
                 <td>{{ author.Sexe }}</td>
                 <td>
                     <button type="button" class="btn btn-sm btn-outline-danger">Supprimer</button>
                 </td>
             </tr>
         {% endfor %}


         </tbody>
     </table>#}
    <table id="myTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Laste</th>
            <th>age</th>
            <th>job</th>
            <th>adresse</th>
            <th>tel</th>
            <th>sexe</th>
            <th>...</th>
        </tr>
        </thead>
        <tbody>
        {% for author in authorview %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.FirstName }}</td>
                <td>{{ author.LastName }}</td>
                <td>{{ author.Age }}</td>
                <td>{{ author.Job }}</td>
                <td>{{ author.Adresse }}</td>
                <td>{{ author.Tel }}</td>
                <td>{{ author.Sexe }}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal"
                            data-target="#modalSupprimer" data-id="{{ author.id }}">Supprimer
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal"
                            data-target="#modalModifier" data-id="{{ author.id }}"
                            data-firstname="{{ author.firstName }}" data-lastname="{{ author.lastName }}"
                            data-age="{{ author.age }}" data-job="{{ author.job }}" data-adresse="{{ author.adresse }}"
                            data-tel="{{ author.tel }}" data-sexe="{{ author.sexe }}">
                        Modifier
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <!-- Modal Ajouter -->
    <div class="modal fade" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    {{ form_start(formAuthor) }}
                    {{ form_errors(formAuthor) }}

                    {{ form_label(formAuthor.firstName) }}
                    {{ form_widget(formAuthor.firstName) }}
                    {{ form_row(formAuthor.lastName) }}
                    {{ form_row(formAuthor.age) }}
                    {{ form_row(formAuthor.job) }}
                    {{ form_row(formAuthor.adresse) }}
                    {{ form_row(formAuthor.tel) }}
                    {{ form_row(formAuthor.sexe) }}
                    {#{{ form_widget(formAuthor, { 'attr': {'class': 'form-input'} }) }}#}
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                    {{ form_end(formAuthor) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Supprimer -->
    <div class="modal fade" id="modalSupprimer" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="{{ url('author_delete') }}">
                    <div class="modal-body">
                        <input type="hidden" name="id">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"> enregistrer</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Modifier -->
    <div class="modal fade" id="modalModifier" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div class="modal-body">
                        <form name="appbundle_author" method="post" action="{{ url('author_update') }}">
                            <input type="hidden" name="id">
                            <label class="form-control-label required" for="appbundle_author_firstName">First
                                name</label>
                            <input type="text" id="appbundle_author_firstName" name="firstName" required="required"
                                   maxlength="255" class="form-control">
                            <div class="form-group">
                                <label class="form-control-label required" for="appbundle_author_lastName">Last
                                    name</label>
                                <input type="text" id="appbundle_author_lastName" name="lastName" required="required"
                                       maxlength="255" class="form-control"></div>
                            <div class="form-group">
                                <label class="form-control-label required" for="appbundle_author_age">Age</label>
                                <input type="number" id="appbundle_author_age" name="age" required="required"
                                       class="form-control"></div>
                            <div class="form-group">
                                <label class="form-control-label required" for="appbundle_author_job">Job</label>
                                <input type="text" id="appbundle_author_job" name="job" required="required"
                                       maxlength="255" class="form-control"></div>
                            <div class="form-group">
                                <label class="form-control-label required"
                                       for="appbundle_author_adresse">Adresse</label>
                                <textarea id="appbundle_author_adresse" name="adresse" required="required"
                                          class="form-control"></textarea></div>
                            <div class="form-group">
                                <label class="form-control-label required" for="appbundle_author_tel">Tel</label>
                                <input type="number" id="appbundle_author_tel" name="tel" required="required"
                                       class="form-control"></div>
                            <div class="form-group">
                                <label class="form-control-label required" for="appbundle_author_sexe">Sexe</label>
                                <select id="appbundle_author_sexe" name="sexe" class="c1 c2 c3 form-control"
                                        style="color:red">
                                    <option value="Homme">homme</option>
                                    <option value="Femme">femme</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary"> enregistrer</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>

                    </div>

            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset( 'assets/plugins/datatable/js/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatable/js/dataTables.bootstrap4.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
    <script>
        $('#modalSupprimer').on('show.bs.modal', function (event) {

            let button = $(event.relatedTarget);
            let id = button.data('id');

            let modal = $(this);

            modal.find('input[name="id"]').val(id);
        })
    </script>
    <script>
        $('#modalModifier').on('show.bs.modal', function (event) {

            let button = $(event.relatedTarget);
            let id = button.data('id');
            let firstname = button.data('firstname');
            let lastName = button.data('lastname');
            let age = button.data('age');
            let job = button.data('job');
            let adresse = button.data('adresse');
            let tel = button.data('tel');
            let sexe = button.data('sexe');

            let modal = $(this);
                modal.find('input[name="id"]').val(id),
                modal.find('input[name="firstName"]').val(firstname),
                modal.find('input[name="lastName"]').val(lastName),
                modal.find('input[name="age"]').val(age),
                modal.find('input[name="job"]').val(job),
                modal.find('textarea[name="adresse"]').val(adresse),
                modal.find('input[name="tel"]').val(tel),
                modal.find('select[name="sexe"]').val(sexe)

        })
    </script>
{% endblock %}
